/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');

@font-face {
     font-family: Solstice;
     src: url(../fonts/solstice.ttf);
}


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

:root {
     --main-dark-color: #00203FFF;
     --main-dark-link: #00255FFF;
     --main-light-color: #ADEFD1FF;
     --font-family: 'Roboto', sans-serif;
}

* {
     box-sizing: border-box !important;
     scroll-behavior: smooth;
}

html {
     scroll-behavior: smooth;
     scroll-padding-top: 82px;
     overflow-x: hidden !important;
}

body {
     color: #666666;
     background-color: var(--main-dark-color);
     font-size: 14px;
     font-family: Saira;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden !important;
}


a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none !important;
     opacity: 1
}

button:focus {
     outline: none;
}

/*
ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: list-item;
}
*/
p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: rgb(14, 30, 47);
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 50%;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 12px;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     line-height: 20px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: var(--main-light-color);
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: var(--main-light-color);
}

.titlepage {
     text-align: center;
     padding-bottom: 5%;
}

.titlepage h2 {
     font-family: Solstice;
     font-weight: bold;
     color: var(--main-light-color);
     font-size: 2.5em;
     padding-bottom: 2%;
     text-shadow: 0 0 7px var(--main-light-color);
}

/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/


.header {
     background-color: var(--main-dark-color);
     width: 100%;
     padding: 10px;
     transition: all 0.5s ease-in;
     position: fixed;
     top: 0;
     z-index: 1000;
     opacity: 0.9;
     box-shadow: 0 0 10px var(--main-light-color);
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
     margin-right: 2%;
}

.logo img {
     max-width: 10rem;
     height: auto;
}



.banner_main {
     /* position: relative; */
     /* top: 10%; */
     width: 100%;
     z-index: 1;
     padding-top: 15vh;
     background: var(--main-dark-color);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     padding-bottom: 90px;
}



.text-bg h1 {
     font-family: Solstice;
     font-weight: bold;
     color: white;
     text-shadow: 0 0 30px #3fd6ff;
     font-size: 40px;
     line-height: 70px;
     padding-bottom: 25px;
     z-index: 99;
}

.text-bg h2 {
     color: var(--main-light-color);
     font-size: 30px;
     line-height: 35px;
     font-weight: bold;
     z-index: 99;
}

.text-bg p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 0;
     z-index: 99;
}

.text-bg a {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
}

.text-bg a:hover {
     background-color: #000;
     color: #fff;
}

.text-img figure {
     max-width: 100%;
     max-width: 100%;
     margin-left: 10%;
     margin-right: 10%;
}

.text-img figure img {
     width: 100%;
     height: 100%;
     z-index: 99;
}

.text-bg .titlepage {
     text-align: center;
     padding-bottom: 30px;
}

.text-bg .titlepage h2 {
     font-size: 45px;
     color: #fdd430;
     font-weight: bold;
     padding: 10px;
}


/** about section **/

.about {
     font-family: Saira;
     color: #1f1f1f;
     padding-bottom: 3%;
     background: var(--main-light-color);
}

.about .titlepage {
     padding-bottom: 2%;
}

.about .titlepage h2 {
     color: var(--main-dark-color) !important;
}

.about-content {
     text-align: center;
     display: flex;
}


.about-content p {
     color: #1f1f1f;
     font-size: 17px;
     line-height: 28px;
     text-align: justify;
     margin-right: 10%;
}

.about-img {
     display: flex;
}

.about-img img {
     margin: auto;
     width: 100%;
     border-radius: 10px;
}

.about-content a {
     font-size: 16px;
     background-color: #000;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 400;
     margin-top: 10px;
}

.about-content a:hover {
     background-color: #0c0f38;
     color: #fff;
}

/** end about section **/




/** prizes section **/

.prizes {
     padding-top: 5%;
     font-family: Saira;
     color: #f5f5f5;
     background: var(--main-light-color);
     padding-bottom: 3%;
     margin: 0 !important;
}

.prizes .titlepage h2 {
     color: var(--main-dark-color) !important;
}

.prizes .prizes-img {
     text-align: center;
     padding-bottom: 5%;
}

.prizes img {
     width: 80%;
}

.prizes .sp-pStatement-box {
     background: #0c0f38 !important;
     padding: 8%;
}

.prizes .sp-pStatement-box:hover {
     background: var(--main-dark-color);
}

/*
.prizes .winner{
     text-align: center;
}
.prizes .first{
     background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.prizes .second{
     background-color: #00bfff;
}
.prizes .third{
     background-color: #00bfff;
}*/

/** end prizes section **/



/** pStatements section **/

.pStatements {
     padding-top: 5%;
     font-family: Saira;
     padding-bottom: 3%;
}


.pStatements .titlepage p {
     color: #fff;
}


.pStatements .pStatements-box {
     height: fit-content;
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 0px;
     transition: ease-in all 0.5s;
     background: transparent;
     backdrop-filter: blur(20px);
     -webkit-backdrop-filter: blur(20px);
     vertical-align: auto;
     height: 90%;
}

.pStatements .pStatements-box .img-box {
     height: 70%;
     display: flex;
     align-items: center;
     padding: 0rem 1rem;
}

.pStatements .pStatements-box .img-box img {
     margin: auto;
     overflow: hidden;
     max-height: 100%;
     border-radius: 20px;
}


.pStatements .pStatements-box h3 {
     padding: 1% 0px 2% 0px;
     font-size: 1.3em;
     color: #fff;
     font-weight: bold;
}

.pStatements .pStatements-box p {
     font-size: 1.4em;
     color: #fff;
     padding-bottom: 10%;
}

.pStatements .pStatements-box:hover {
     box-shadow: 0 0 15px var(--main-light-color);
     animation: pop 0.3s linear 1;
     transition: ease-in all 0.5s;
     cursor: pointer;
}

.pStatements .pStatements-box#problemStatement {
     height: fit-content;
}

#energy:hover {
     box-shadow: 0 0 15px #fffb00;
}


@keyframes pop {
     50% {
          transform: scale(1.2);
     }
}




/** end pStatements section **/


/** why section

.why {
     margin-top: 90px;
     background: #ffff;
     font-family: Saira;
}

.why .titlepage {
     text-align: center;
}

.why .titlepage h2 {
     padding-bottom: 20px;
}

.why .titlepage p {
     color: #090808;
}

.why .why-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
}

.why .why-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px
}

.why .why-box p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
}

.why .why-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}

.bg {
     font-size: 16px;
     background-color: #090808;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.bg:hover {
     background: #8308eb;
     color: #fff;
}


 end why section **/



/** timeline **/

.Timeline {
     font-family: Saira;
     color: #1f1f1f;
     padding-bottom: 1%;
     background: var(--main-light-color);
}

.Timeline .titlepage h2 {
     color: var(--main-dark-color) !important;
}

.timeline {
     color: #ffffff;
     position: relative;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     margin: 0px auto 1rem auto;
     overflow: hidden;
     min-width: 75%;
}

.timeline:after {
     content: "";
     position: absolute;
     top: 0;
     left: 50%;
     margin-left: -2px;
     border-right: 2px dashed #1f1f1f;
     height: 95%;
     display: block;
}

.timeline-row {
     min-width: 100%;
     padding-left: 50%;
     position: relative;
     margin-bottom: 12%;
     text-align: center;
}

.timeline-row .timeline-time {
     font-weight: bold;
     /* text-shadow: 0 0 10px var(--main-dark-color); */
     position: absolute;
     right: 50%;
     text-align: right;
     margin: 0 50px 0 50px;
     color: #1f1f1f;
     font-size: 1.8rem;
}

.timeline-row .timeline-time small {
     display: block;
     font-weight: bold;
     /* text-shadow: 0 0 10px var(--main-dark-color); */
     color: #1f1f1f;
     font-size: 1.3rem;
}

.timeline-row .timeline-content {
     position: relative;
     padding: 20px 30px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     background: var(--main-dark-color);
     /*box-shadow: 0 0 5px rgb(0, 174, 255);*/
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
}

.timeline-row .timeline-content:after {
     overflow: hidden;
     content: "";
     position: absolute;
     top: 20px;
     height: 16px;
     width: 16px;
     background: var(--main-dark-color);
}

.timeline-row .timeline-content:before {
     content: "";
     position: absolute;
     top: 20px;
     right: -49px;
     width: 20px;
     height: 20px;
     -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
     border-radius: 100px;
     z-index: 10;
     background: #1f1f1f;
     box-shadow: 0 0 15px #1f1f1f;
}

.timeline-row .timeline-content h4 {
     padding: 2%;
     font-size: 25px;
     font-weight: bold;
     color: var(--main-light-color);
     /* text-shadow: 0 0 5px #f5f5f5; */
     margin: 0 0 0 0;
     overflow: hidden;
}

.timeline-row .timeline-content {
     margin-bottom: 5%;
}

.timeline-row:nth-child(even) .timeline-content {
     margin-left: 40px;
     text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
     left: -8px;
     right: initial;
     border-bottom: 0;
     border-left: 0;
     transform: rotate(-135deg);
}

.timeline-row:nth-child(even) .timeline-content:before {
     left: -52px;
     right: initial;
}

.timeline-row:nth-child(odd) {
     padding-left: 0%;
     padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
     right: auto;
     left: 50%;
     text-align: left;
     margin-right: 0;
     margin-left: 5%;
}

.timeline-row:nth-child(odd) .timeline-content {
     margin-right: 40px;
}

.timeline-row:nth-child(odd) .timeline-content:after {
     right: -8px;
     border-left: 0;
     border-bottom: 0;
     transform: rotate(45deg);
}


/** Sponsors **/

.sponsors {
     padding-top: 2rem;
     font-family: Saira;
     padding-bottom: 3%;
}

.sponsors .sponsor-box {
     display: block;
     background-color: transparent;
     transition: ease-in all 0.5s;
     padding: 5% 15% 10% 15%;
     text-align: center;
}

.sponsors .sponsor-box img {
     display: block;
     max-width: 100%;
     /* max-height: 100px; */
     width: auto;
     height: auto;
     margin: auto;
}

.sponsors .sponsor-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}


/* Reach Us */

.reach-us {
     padding-top: 2rem;
     font-family: Saira;
     color: #f0f0f0;
     margin: 0 !important;
     background: var(--main-dark-color);
}

.reach-us .titlepage h2 {
     color: var(--main-light-color) !important;
}


.reach-us h3 {
     color: var(--main-light-color);
     font-weight: bold;
     font-size: 30px;
}

.reach-us .map {
     display: flex;
}

.reach-us .contact {
     padding-top: 2%;
}

.reach-us .map iframe {
     margin: auto;
     max-width: 100%;
}

.reach-us .address p {
     text-align: left !important;
     color: #f0f0f0;
     margin-top: 0 !important;
}

.contact {
     margin-bottom: 5%;
}

.reach-us p,
a {
     margin: auto;
     font-size: 20px;
     color: #f0f0f0;
     text-align: center;
     margin: 5px 0 5px 0;
}

.reach-us .social-links {
     margin-top: 5%;
     text-align: left;
}

.reach-us .social-links a {
     padding: 5%;
     font-size: 30px;
}

.reach-us i {
     font-size: 20px;
     color: #f0f0f0;
}


.footer {
     font-size: 1.5em;
     background: var(--main-light-color);
}

.copyright {
     text-align: center;
     color: var(--main-dark-color);
     background: var(--main-light-color);
     font-weight: 700;
     padding-bottom: 1rem;
}


/** footer

.footer {
     background-color: #111111;
     margin-top: 10%;
     padding: 2% 0 2% 0;
     font-family: Saira;
     color: white;
     z-index: 100;
}

.footer .da {
     text-align: center;
     padding-bottom: 3%;
}

end footer **/
/*faq*/
.FaqSection {
     background: var(--main-light-color);
     padding-bottom: 3%;
}

.FaqSection .titlepage h2 {
     color: var(--main-dark-color);
}

.faq {
     text-align: left;
     display: inline-block;
     color: #0f0f0f;
     width: 95%;
     font-family: 'Didact Gothic';
     margin-bottom: 25px;
     text-align: justify;
}

.question {
     color: var(--main-dark-color);
     font-size: 1.3em;
     font-weight: bold;
     padding: 8px 0px;
}

.answer {
     font-family: sans-serif;
     font-size: 1em;
     border-left: 2px solid #0f0f0f;
     padding-left: 10px;
     color: var(--main-dark-color);
}

.answer a {
     text-decoration: none;
     color: var(--main-dark-link);
}



/** timer **/

#timer {
     font-size: 50px;
     font-weight: bold;
     color: rgb(255, 255, 255);
     /* text-shadow: 0 0 15px var(--main-light-color); */
     align-self: center;
}

#timer div {
     text-align: center;
     display: inline-block;
     min-width: 90px;
}

#timer div span {
     margin-top: -10%;
     color: #adefd1bb;
     display: block;
     font-size: .4em;
     font-weight: bold;
     z-index: 99;
}


/** end timer **/

.sp-pStatement-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 5%;
     margin-bottom: 2%;
     transition: ease-in all 0.5s;
     background: rgba(21, 21, 21, 0.7);
     backdrop-filter: blur(20px);
     -webkit-backdrop-filter: blur(20px);
     vertical-align: auto;
     align-items: center;
     display: flex;
}


.sp-pStatement-box:hover {
     background: #000000;
     box-shadow: 0 0 25px var(--main-dark-color);
     animation: pop 0.3s linear 1;
     transition: ease-in all 0.5s;
     cursor: pointer;
}

.sp-pStatement-box img {
     width: 20%;
}

#daiict,
#wie {
     height: 90%;
     margin-bottom: 5%;
}

#daiict img,
#wie img {
     width: 30%;
}

#daiict .sp-pStatement-content,
#wie .sp-pStatement-content {
     align-self: baseline;
     padding-left: 5%;
     padding-right: 5%;
     text-align: left;
     font-size: 1.1em;
}

.sp-pStatement-box h3 {
     text-align: center;
     padding: 1% 0 2% 0;
     font-size: 1.8em;
     color: #fff;
     font-weight: bold;
     text-shadow: 0 0 5px rgb(255, 255, 255);
}

.sp-pStatement-content {
     padding-left: 5%;
     padding-right: 5%;
     text-align: left;
     font-size: 1.1em;
}


#daiict:hover,
#filecoin:hover {
     box-shadow: 0 0 15px rgb(0, 140, 233);
}

#polygon:hover,
#wie:hover,
#solana:hover {
     box-shadow: 0 0 15px rgb(221, 0, 255);
}

#speaker:hover {
     box-shadow: 0 0 15px rgb(255, 0, 43);
}

#speaker h4 {
     color: white;
     font-weight: bold;
     font-size: large;
}

#speaker img {
     height: 30%;
     min-width: 30%;
     border-radius: 10px;
}

.speaker-a {
     font-size: 16px;
     color: #006EFF;
}

.animatedTeamCard {
     height: 25rem;
}

.teamSection {
     background: var(--main-light-color);
}

.teamSection .titlepage h2 {
     color: var(--main-dark-color);
}

.teamSection h3 {
     color: var(--main-dark-color);
     font-weight: bold;
     font-size: 30px;
}

@media (min-width: 992.98px) {
     .sponsors #devfolioSponserIcon {
          height: 4.8rem;
          aspect-ratio: 22 / 8;
     }

     .sponsors #polygonSponserIcon {
          height: 4.8rem;
          aspect-ratio: 18 / 6;
     }
}

#timerForPS {
     display: flex;
     justify-content: center;
}

#timerForPS div {
     display: flex;
     flex-direction: column;
     margin: 0.5rem !important;
     font-size: 0.8rem !important;
     color: #f0f0f0;
}

.organizerCards {
     justify-content: space-between;
     padding-top: 5%;
     padding-bottom: 3%;
}

@media (max-width: 763px) {
     .organizerCards {
          justify-content: center;
          padding-top: 5%;
          padding-bottom: 3%;
          margin: 0px !important;
     }
}



.organizerCards .card {
     border-radius: 10px;
     padding-left: 0rem;
     padding-right: 0rem;
     text-align: center;
     background: transparent;
     /* margin: 2rem auto; */
     border: none;
     /* transition: all 0.2s linear; */
}

.organizerCards .card:hover {
     /* box-shadow: 0 0 10px var(--main-light-color); */
     animation: pop 0.3s linear 1;
     /* animation: scaleingCard 1s 1; */
     /* scale: 1.1; */
}

.organizerCards .card:hover .card-content .card-img img {
     box-shadow: 0 0 10px var(--main-light-color);
}

@media (min-width: 575.98px) {
     .card-content .card-img img {
          max-width: 100%;
     }
}

@media only screen and (max-width: 768px) {
     .organizerCards .card .card-content .card-img img {
          width: 50%;
     }
}

.organizerCards .card .card-content .card-img img {
     border-radius: 50%;
     border: 3px solid var(--main-light-color);
}

.organizerCards .card .card-content .card-body h3 {
     color: var(--main-light-color);
     font-weight: 600;
}

.organizerCards .card .card-content .card-body {
     padding: 1rem !important;
}

svg {
     margin: -1px !important;
}

.psImage {
     height: 100%;
     width: 100%;
}

@media (min-width: 768px) {
     .psImage {
          width: fit-content;
          aspect-ratio: 96/66;
     }
}



/* width */
.modal-body::-webkit-scrollbar {
     width: 5px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
     background: #f1f1f1;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
     background: #888;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
     background: #555;
}

/* body.modal-open {
     height: 100vh;
     overflow-y: hidden;
} */

@media (max-width: 992px) {
     .pStatements-box h3 {
          font-size: 1em !important;
     }
}